.add {
  text-align: center;
}

li {
  list-style: none;
}

.completed {
  text-decoration: line-through;
  color: red;
}

.lists {
  min-height: 300px;
}

.newItem {
  border-color: #4ddbff;
  border-width: 1px;
  width: 400px;
  height: 25px;
}

#addListButton {
  color: white;
  background-color: #0099ff;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  height: 29px;
}

#delButton {
  color: white;
  background-color: #0099ff;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  height: 29px;
}

.todo {
  color: black;
}

.list-lines {
  height: 25px;
}

#dispList {
  padding-left: 80px;
  padding-bottom: 50px;
}

.delete {
  padding-left: 80px;
  border-top: 1px solid #bfbfbf;
}
