<section class="newList">

  <div class="add">
    <input class="newItem" #newListInput type="text" [(ngModel)]="input" placeholder="Enter new items here">
    <button id="addListButton" (click)="addList(newListInput.value)">Add</button>
  </div>

  <div class="lists">
    <ul id="dispList">
      <li *ngFor="let list of list.getLists" [class.completed]="list.completed" class="list-lines">
        <tr>
          <td class="check">
            <input id='checked' type='checkbox' (click)='isChecked(list)'>
          </td>
          <td class="todo">
            <p>{{list.name}}</p>
          </td>
        </tr>
      </li>
    </ul>
  </div>

  <div class="delete">
    <p>To delete an item:</p>
      <ol>
        <li>First select the item</li>
        <li>Then click the Delete button below</li>
      </ol>
    <button id="delButton" (click)="delList(list)" (update)=delList($event)>Delete</button>
  </div>

</section>
